<div class="p-4 mx-auto max-w-screen-lg">
  <!-- Header con botón de refrescar -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold text-gray-800">Evaluación SMI/SG por Unidad (TEST)</h2>
    <div class="flex items-center ml-auto">
      <!--
      <button (click)="onRefresh()" [disabled]="isLoading()"
        class="px-3 py-1 ml-4 mr-4 text-white bg-[#006341] rounded disabled:opacity-50 boton-refrescar">
        🔄 Refrescar datos
      </button> -->

      <!-- Logo -->
      <img src="imssb-logo.svg" alt="IMSS Bienestar" class="ml-auto h-10 md:h-12" />
    </div>
  </div>


  <app-selector-clues
    (cluesSeleccionado)="actualizarUnidad($event)">
  </app-selector-clues>

  @if (unidadSeleccionada() != null) {
    <app-evaluador-smi-sg
      [unidad]="unidadSeleccionada()!">
    </app-evaluador-smi-sg>
  }
</div>
