<div class="p-4">
  <h1 class="text-2xl font-bold mb-4">CITAS ABASTO (TEST)</h1>

  <div *ngIf="isLoading" class="flex items-center justify-center py-8">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-green-600"></div>
  </div>

  <div *ngIf="!isLoading">
    <!-- Aquí ponemos el buscador y la tabla -->
    <div class="mb-4 flex gap-2">
      <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="buscar()" placeholder="Buscar..."
        class="border px-4 py-2 rounded w-64" />
      <button (click)="buscar()" class="bg-green-600 text-white px-4 py-2 rounded">Buscar</button>
      <button (click)="limpiarFiltros()" class="bg-gray-300 text-black px-4 py-2 rounded">Limpiar filtros</button>
      <div class="flex items-center gap-2 mb-4 flex-wrap">
        <label class="text-sm text-gray-600">Mostrar:</label>
        <select [(ngModel)]="limit" (change)="cambiarLimite()" class="border rounded px-2 py-1">
          <option *ngFor="let opcion of [10, 25, 50, 100]" [value]="opcion">{{ opcion }} registros</option>
        </select>
      </div>
    </div>

    <div class="bg-white rounded shadow p-4 overflow-auto max-h-[calc(100vh-200px)]">
      <table class="min-w-full text-xs text-left border-collapse">
        <thead class="sticky top-0 bg-gray-100">
          <tr>
            <th (click)="ordenarPor('ejercicio')"
            class="border px-2 py-1 cursor-pointer whitespace-nowrap select-none"
             [ngClass]="{'bg-green-100 font-bold': sortBy === 'ejercicio'}">Ejercicio
             <span *ngIf="sortBy === 'ejercicio'">
              {{ sortOrder === 'ASC' ? '↑' : '↓' }}
            </span></th>
            <th (click)="ordenarPor('orden_de_suministro')"
              class="border px-2 py-1 cursor-pointer whitespace-nowrap select-none"
               [ngClass]="{'bg-green-100 font-bold': sortBy === 'orden_de_suministro'}">
              Orden de Suministro
              <span *ngIf="sortBy === 'orden_de_suministro'">
                {{ sortOrder === 'ASC' ? '↑' : '↓' }}
              </span>
            </th>
            <th (click)="ordenarPor('institucion')"
            class="border px-2 py-1 cursor-pointer whitespace-nowrap select-none"
             [ngClass]="{'bg-green-100 font-bold': sortBy === 'institucion'}">Institución
             <span *ngIf="sortBy === 'institucion'">
              {{ sortOrder === 'ASC' ? '↑' : '↓' }}
            </span></th>
            <th class="border px-2 py-1 whitespace-nowrap">Tipo de Entrega</th>
            <th class="border px-2 py-1 whitespace-nowrap">CLUES Destino</th>
            <th class="border px-2 py-1 whitespace-nowrap">Unidad</th>
            <th class="border px-2 py-1 whitespace-nowrap">Fuente Formato</th>
            <th class="border px-2 py-1 whitespace-nowrap">Proveedor</th>
            <th class="border px-2 py-1 whitespace-nowrap">Clave CNIS</th>
            <th class="border px-2 py-1 whitespace-nowrap">Descripción</th>
            <th class="border px-2 py-1 whitespace-nowrap">Compra</th>
            <th class="border px-2 py-1 whitespace-nowrap">Tipo de Red</th>
            <th class="border px-2 py-1 whitespace-nowrap">Tipo de Insumo</th>
            <th class="border px-2 py-1 whitespace-nowrap">Grupo Terapéutico</th>
            <th class="border px-2 py-1 whitespace-nowrap">Precio Unitario</th>
            <th class="border px-2 py-1 whitespace-nowrap">Piezas Emitidas</th>
            <th class="border px-2 py-1 whitespace-nowrap">Fecha Límite Entrega</th>
            <th class="border px-2 py-1 whitespace-nowrap">Piezas Recibidas</th>
            <th class="border px-2 py-1 whitespace-nowrap">Fecha Recepción Almacén</th>
            <th class="border px-2 py-1 whitespace-nowrap">Número de Remisión</th>
            <th class="border px-2 py-1 whitespace-nowrap">Lote</th>
            <th class="border px-2 py-1 whitespace-nowrap">Caducidad</th>
            <th class="border px-2 py-1 whitespace-nowrap">Estatus</th>
            <th class="border px-2 py-1 whitespace-nowrap">Folio Abasto</th>
            <th class="border px-2 py-1 whitespace-nowrap">Hospital que Recibió</th>
            <th class="border px-2 py-1 whitespace-nowrap">Evidencia</th>
            <th class="border px-2 py-1 whitespace-nowrap">Carga</th>
            <th class="border px-2 py-1 whitespace-nowrap">Fecha de Cita</th>
            <th class="border px-2 py-1 whitespace-nowrap">Observación</th>
          </tr>
          <!-- Arriba de <thead>, pondremos un segundo <tr> solo con inputs correspondiente a cada columna.-->
          <tr>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="number" [(ngModel)]="filtros['ejercicio']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['orden_de_suministro']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['institucion']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['tipo_de_entrega']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['clues_destino']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['unidad']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['fte_fmto']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['proveedor']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['clave_cnis']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['descripcion']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['compra']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['tipo_de_red']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['tipo_de_insumo']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['grupo_terapeutico']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['precio_unitario']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['no_de_piezas_emitidas']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['fecha_limite_de_entrega']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['pzas_recibidas_por_la_entidad']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['fecha_recepcion_almacen']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['numero_de_remision']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['lote']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['caducidad']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['estatus']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['folio_abasto']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['almacen_hospital_que_recibio']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['evidencia']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['carga']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['fecha_de_cita']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
            <td class="border px-2 py-1 whitespace-nowrap">
              <input type="text" [(ngModel)]="filtros['observacion']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="border px-2 py-1 rounded w-64" />
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas">
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.ejercicio }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.orden_de_suministro }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.institucion }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.tipo_de_entrega }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.clues_destino }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.unidad }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.fte_fmto }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.proveedor }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.clave_cnis }}</td>
            <td class="border px-2 py-1 max-w-[450px] whitespace-nowrap overflow-hidden text-ellipsis"
              [title]="cita.descripcion">{{ cita.descripcion }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.compra }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.tipo_de_red }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.tipo_de_insumo }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.grupo_terapeutico }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.precio_unitario }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.no_de_piezas_emitidas }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.fecha_limite_de_entrega | date:'yyyy-MM-dd' }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.pzas_recibidas_por_la_entidad }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.fecha_recepcion_almacen }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.numero_de_remision }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.lote }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.caducidad }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.estatus }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.folio_abasto }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.almacen_hospital_que_recibio }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.evidencia }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.carga }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.fecha_de_cita | date:'yyyy-MM-dd' }}</td>
            <td class="border px-2 py-1 whitespace-nowrap">{{ cita.observacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="flex justify-between items-center flex-wrap gap-2 mt-4 px-2">
      <!-- Info -->
      <div class="text-sm text-gray-600">
        Página {{ page }} de {{ totalPages }} —
        Mostrando {{ citas.length }} de {{ total }} registros
      </div>

      <!-- Paginador -->
      <div class="flex gap-1 items-center flex-wrap">
        <button (click)="irAPagina(page - 1)" [disabled]="page <= 1"
          class="bg-gray-300 hover:bg-gray-400 px-3 py-1 rounded disabled:opacity-50">«</button>

        <ng-container *ngFor="let p of paginasVisibles">
          <button *ngIf="p > 0" (click)="irAPagina(p)" [ngClass]="{
              'bg-green-600 text-white': page === p,
              'bg-gray-200 hover:bg-gray-300': page !== p
            }" class="px-3 py-1 rounded">
            {{ p }}
          </button>
          <span *ngIf="p === -1 || p === -2" class="px-2 text-gray-500">...</span>
        </ng-container>

        <button (click)="irAPagina(page + 1)" [disabled]="page >= totalPages"
          class="bg-gray-300 hover:bg-gray-400 px-3 py-1 rounded disabled:opacity-50">»</button>
      </div>
    </div>


  </div>
</div>