<!-- DEPRECATED -->
<div class="p-4">
  <h1 class="mb-4 text-2xl font-bold">CITAS ABASTO (DEPRECATED - TEST)</h1>

  <div *ngIf="isLoading" class="flex items-center justify-center py-8">
    <div class="h-12 w-12 rounded-full border-t-2 border-b-2 border-green-600 animate-spin"></div>
  </div>

  <div *ngIf="!isLoading">
    <!-- Aquí ponemos el buscador y la tabla -->
    <div class="flex gap-2 mb-4">
      <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="buscar()" placeholder="Buscar..."
        class="px-4 py-2 w-64 border rounded" />
      <button (click)="buscar()" class="px-4 py-2 text-white bg-green-600 rounded">Buscar</button>
      <button (click)="limpiarFiltros()" class="px-4 py-2 text-black bg-gray-300 rounded">Limpiar filtros</button>
      <div class="flex flex-wrap items-center gap-2 mb-4">
        <label class="text-sm text-gray-600">Mostrar:</label>
        <select [(ngModel)]="limit" (change)="cambiarLimite()" class="px-2 py-1 border rounded">
          <option *ngFor="let opcion of [10, 25, 50, 100]" [value]="opcion">{{ opcion }} registros</option>
        </select>
      </div>
    </div>

    <div class="overflow-auto p-4 max-h-[calc(100vh-200px)] bg-white rounded shadow">
      <table class="min-w-full text-xs text-left border-collapse">
        <thead class="sticky top-0 bg-gray-100">
          <tr>
            <th (click)="ordenarPor('ejercicio')"
            class="px-2 py-1 whitespace-nowrap cursor-pointer select-none border"
             [ngClass]="{'bg-green-100 font-bold': sortBy === 'ejercicio'}">Ejercicio
             <span *ngIf="sortBy === 'ejercicio'">
              {{ sortOrder === 'ASC' ? '↑' : '↓' }}
            </span></th>
            <th (click)="ordenarPor('orden_de_suministro')"
              class="px-2 py-1 whitespace-nowrap cursor-pointer select-none border"
               [ngClass]="{'bg-green-100 font-bold': sortBy === 'orden_de_suministro'}">
              Orden de Suministro
              <span *ngIf="sortBy === 'orden_de_suministro'">
                {{ sortOrder === 'ASC' ? '↑' : '↓' }}
              </span>
            </th>
            <th (click)="ordenarPor('institucion')"
            class="px-2 py-1 whitespace-nowrap cursor-pointer select-none border"
             [ngClass]="{'bg-green-100 font-bold': sortBy === 'institucion'}">Institución
             <span *ngIf="sortBy === 'institucion'">
              {{ sortOrder === 'ASC' ? '↑' : '↓' }}
            </span></th>
            <th class="px-2 py-1 whitespace-nowrap border">Tipo de Entrega</th>
            <th class="px-2 py-1 whitespace-nowrap border">CLUES Destino</th>
            <th class="px-2 py-1 whitespace-nowrap border">Unidad</th>
            <th class="px-2 py-1 whitespace-nowrap border">Fuente Formato</th>
            <th class="px-2 py-1 whitespace-nowrap border">Proveedor</th>
            <th class="px-2 py-1 whitespace-nowrap border">Clave CNIS</th>
            <th class="px-2 py-1 whitespace-nowrap border">Descripción</th>
            <th class="px-2 py-1 whitespace-nowrap border">Compra</th>
            <th class="px-2 py-1 whitespace-nowrap border">Tipo de Red</th>
            <th class="px-2 py-1 whitespace-nowrap border">Tipo de Insumo</th>
            <th class="px-2 py-1 whitespace-nowrap border">Grupo Terapéutico</th>
            <th class="px-2 py-1 whitespace-nowrap border">Precio Unitario</th>
            <th class="px-2 py-1 whitespace-nowrap border">Piezas Emitidas</th>
            <th class="px-2 py-1 whitespace-nowrap border">Fecha Límite Entrega</th>
            <th class="px-2 py-1 whitespace-nowrap border">Piezas Recibidas</th>
            <th class="px-2 py-1 whitespace-nowrap border">Fecha Recepción Almacén</th>
            <th class="px-2 py-1 whitespace-nowrap border">Número de Remisión</th>
            <th class="px-2 py-1 whitespace-nowrap border">Lote</th>
            <th class="px-2 py-1 whitespace-nowrap border">Caducidad</th>
            <th class="px-2 py-1 whitespace-nowrap border">Estatus</th>
            <th class="px-2 py-1 whitespace-nowrap border">Folio Abasto</th>
            <th class="px-2 py-1 whitespace-nowrap border">Hospital que Recibió</th>
            <th class="px-2 py-1 whitespace-nowrap border">Evidencia</th>
            <th class="px-2 py-1 whitespace-nowrap border">Carga</th>
            <th class="px-2 py-1 whitespace-nowrap border">Fecha de Cita</th>
            <th class="px-2 py-1 whitespace-nowrap border">Observación</th>
          </tr>
          <!-- Arriba de <thead>, pondremos un segundo <tr> solo con inputs correspondiente a cada columna.-->
          <tr>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="number" [(ngModel)]="filtros['ejercicio']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['orden_de_suministro']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['institucion']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['tipo_de_entrega']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['clues_destino']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['unidad']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['fte_fmto']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['proveedor']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['clave_cnis']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['descripcion']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['compra']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['tipo_de_red']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['tipo_de_insumo']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['grupo_terapeutico']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['precio_unitario']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['no_de_piezas_emitidas']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['fecha_limite_de_entrega']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['pzas_recibidas_por_la_entidad']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['fecha_recepcion_almacen']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['numero_de_remision']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['lote']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['caducidad']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['estatus']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['folio_abasto']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['almacen_hospital_que_recibio']" (keyup.enter)="buscar()"
                placeholder="Buscar..." class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['evidencia']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['carga']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['fecha_de_cita']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
            <td class="px-2 py-1 whitespace-nowrap border">
              <input type="text" [(ngModel)]="filtros['observacion']" (keyup.enter)="buscar()" placeholder="Buscar..."
                class="px-2 py-1 w-64 border rounded" />
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas">
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.ejercicio }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.orden_de_suministro }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.institucion }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.tipo_de_entrega }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.clues_destino }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.unidad }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.fte_fmto }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.proveedor }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.clave_cnis }}</td>
            <td class="overflow-hidden px-2 py-1 max-w-[450px] whitespace-nowrap text-ellipsis border"
              [title]="cita.descripcion">{{ cita.descripcion }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.compra }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.tipo_de_red }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.tipo_de_insumo }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.grupo_terapeutico }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.precio_unitario }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.no_de_piezas_emitidas }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.fecha_limite_de_entrega | date:'yyyy-MM-dd' }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.pzas_recibidas_por_la_entidad }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.fecha_recepcion_almacen }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.numero_de_remision }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.lote }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.caducidad }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.estatus }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.folio_abasto }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.almacen_hospital_que_recibio }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.evidencia }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.carga }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.fecha_de_cita | date:'yyyy-MM-dd' }}</td>
            <td class="px-2 py-1 whitespace-nowrap border">{{ cita.observacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="flex flex-wrap justify-between items-center gap-2 mt-4 px-2">
      <!-- Info -->
      <div class="text-sm text-gray-600">
        Página {{ page }} de {{ totalPages }} —
        Mostrando {{ citas.length }} de {{ total }} registros
      </div>

      <!-- Paginador -->
      <div class="flex flex-wrap items-center gap-1">
        <button (click)="irAPagina(page - 1)" [disabled]="page <= 1"
          class="px-3 py-1 bg-gray-300 hover:bg-gray-400 rounded disabled:opacity-50">«</button>

        <ng-container *ngFor="let p of paginasVisibles">
          <button *ngIf="p > 0" (click)="irAPagina(p)" [ngClass]="{
              'bg-green-600 text-white': page === p,
              'bg-gray-200 hover:bg-gray-300': page !== p
            }" class="px-3 py-1 rounded">
            {{ p }}
          </button>
          <span *ngIf="p === -1 || p === -2" class="px-2 text-gray-500">...</span>
        </ng-container>

        <button (click)="irAPagina(page + 1)" [disabled]="page >= totalPages"
          class="px-3 py-1 bg-gray-300 hover:bg-gray-400 rounded disabled:opacity-50">»</button>
      </div>
    </div>


  </div>
</div>