<!-- src/app/features/dashboard-abasto/dashboard-abasto.component.html -->
<div class="mx-auto px-4 w-full max-w-[1450px]">
  <div class="p-6">
    <!-- Header con botón de refrescar -->
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Dashboard Abasto (Ordenes de Suministro)</h1>
      <div class="flex items-center ml-auto">
        <button (click)="onRefresh()"
          class="px-3 py-1 ml-4 mr-4 text-white bg-[#006341] cursor-pointer rounded disabled:opacity-50 boton-refrescar">
          🔄 Refrescar datos
        </button>
        <!-- Logo -->
        <img src="imssb-logo.svg" alt="IMSS Bienestar"
          class="ml-auto h-10 md:h-12" />
        </div>
      </div>


      <div class="mb-6 border-b border-gray-200">
        <nav class="flex -mb-px space-x-6" aria-label="Tabs">
          @for (tab of tabs; track tab) {
<button (click)="seleccionarTab(tab)" [class]="
          'whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm cursor-pointer ' +
          (activeTab === tab
            ? 'border-green-800 text-green-800 active-tab'
            : 'border-transparent text-gray-500 hover:text-gray-700  hover:border-gray-300 inactive-tab')
        ">
              {{ tab }}
            </button>
          }
        </nav>
      </div>
      <div>
        <div [hidden]="activeTab !== 'Resumen'" class="cursor-pointer">
          <app-resumen></app-resumen>
        </div>
        <div [hidden]="activeTab !== 'Análisis de Abasto'" class="cursor-pointer">
          <app-existencias [isActive]="activeTab === 'Análisis de Abasto'"></app-existencias>
        </div>
        <div [hidden]="activeTab !== 'Citas Completadas'" class="cursor-pointer">
          <app-proveedores [isActive]="activeTab === 'Citas Completadas'"></app-proveedores>
        </div>
        <div [hidden]="activeTab !== 'Citas pendientes'" class="cursor-pointer">
          <app-citas-pendientes [isActive]="activeTab === 'Citas pendientes'"></app-citas-pendientes>
        </div>
        <!-- <div [hidden]="activeTab !== 'Cumplimiento Claves'" class="cursor-pointer">
        <app-inventario-critico></app-inventario-critico>
      </div> -->
      <div [hidden]="activeTab !== 'Resumen Citas'" class="cursor-pointer">
        <app-resumen-citas [isActive]="activeTab === 'Resumen Citas'"></app-resumen-citas>
      </div>
      <div [hidden]="activeTab !== 'Existencias (beta)'" class="cursor-pointer">
        <app-inventario-tab [isActive]="activeTab === 'Existencias (beta)'"></app-inventario-tab>
      </div>
      <div [hidden]="activeTab !== 'RdlS'" class="cursor-pointer">
        <app-rdls [isActive]="activeTab === 'RdlS'"></app-rdls>
      </div>
      <div [hidden]="activeTab !== 'Acerca de'" class="p-6 cursor-pointer">
        <app-acerca></app-acerca>
      </div>
    </div>
  </div>
</div>
