<div class="container mx-auto my-4 p-4">
    <h1 class="text-2xl text-green-800 font-bold">Solicitud de Artículos</h1>

    <div class="mt-4 space-y-2 relative">

        <div class="relative">
            <input #inputClave type="text" placeholder="Clave (mínimo 3 caracteres)" maxlength="15"
                [(ngModel)]="claveInput" (input)="onClaveInput()" (keydown)="onInputKeyDown($event)"
                class="border rounded p-2 w-full" [disabled]="modoEdicionIndex !== null" />

            <ul *ngIf="autocompleteResults.length"
                class="border rounded bg-white max-h-52 overflow-auto absolute top-12 left-0 right-0 z-10 shadow-md">
                <li *ngFor="let item of autocompleteResults; let i = index" #resultItem
                    [class.bg-gray-200]="i === selectedIndex" (click)="selectArticulo(item)"
                    class="cursor-pointer hover:bg-gray-200 p-2">
                    {{item.clave}} - {{item.descripcion}} ({{item.presentacion}})
                </li>
                <li *ngIf="moreResults" class="text-sm text-gray-500 p-2">
                    Mostrando 12 de {{totalResults}} resultados...
                </li>
            </ul>
        </div>

        <textarea placeholder="Descripción" maxlength="500" [(ngModel)]="descripcionInput"
            class="border rounded p-2 w-full" [disabled]="modoEdicionIndex !== null"></textarea>

        <input type="text" placeholder="Unidad de Medida" maxlength="50" [(ngModel)]="unidadInput"
            class="border rounded p-2 w-full" [disabled]="modoEdicionIndex !== null" />

        <input type="number" placeholder="Cantidad" min="1" max="99999" [(ngModel)]="cantidadInput"
            class="border rounded p-2 w-full" [disabled]="modoEdicionIndex !== null" />

        <button (click)="agregarArticulo()" [disabled]="!formularioValido || modoEdicionIndex !== null" [ngClass]="(formularioValido && modoEdicionIndex === null)
              ? 'bg-green-800 hover:bg-green-900 text-white'
              : 'bg-gray-300 text-gray-500 cursor-not-allowed'" class="p-2 rounded w-full mt-2">
            Agregar +
        </button>
        <button *ngIf="articulosSolicitados.length > 0" (click)="confirmarLimpiezaModal()"
            class="bg-yellow-400 text-green-900 p-2 rounded mt-4 hover:bg-yellow-500 ml-2"
            [disabled]="modoEdicionIndex !== null"
            [ngClass]="modoEdicionIndex !== null ? 'opacity-50 cursor-not-allowed' : ''">
            Limpiar captura
        </button>
        <button *ngIf="articulosSolicitados.length > 0" (click)="mostrarModalExportar()"
            class="bg-green-600 text-white p-2 rounded mt-4 hover:bg-green-700 ml-2"
            [disabled]="modoEdicionIndex !== null"
            [ngClass]="modoEdicionIndex !== null ? 'opacity-50 cursor-not-allowed' : ''">
            Finalizar y Exportar
        </button>

    </div>


    <div class="border rounded mt-4 p-2" *ngIf="articulosSolicitados.length">
        <app-tabla-articulos [articulosSolicitados]="articulosSolicitados" [modoEdicionIndex]="modoEdicionIndex"
            [cantidadTemporal]="cantidadTemporal" (cantidadTemporalChange)="cambiarCantidad($event)"
            (confirmar)="confirmarEdicion($event)" (cancelar)="cancelarEdicion()" (editar)="activarEdicion($event)"
            (eliminar)="eliminarArticuloConConfirmacion($event)" />

    </div>
    <button *ngIf="articulosSolicitados.length > 0" (click)="mostrarModalExportar()"
        class="bg-green-600 text-white p-2 rounded mt-4 hover:bg-green-700">
        Finalizar y Exportar
    </button>

</div>

<!-- Modal reutilizable con Tailwind -->
<app-confirmacion-modal *ngIf="modalVisible" [titulo]="modalTitulo" [mensaje]="modalMensaje"
    [textoCancelar]="modalCancelarTexto" [textoConfirmar]="modalConfirmarTexto" [soloInfo]="modalSoloInfo"
    (confirmar)="modalAceptar()" (cancelar)="cerrarModal()" />



<!-- Modal para nombrar archivo -->
<app-nombrar-archivo-modal *ngIf="modalPedirNombreArchivo" [(nombreArchivo)]="nombreArchivo"
    [(usarTemplate)]="usarTemplate"
    (aceptar)="confirmarExportacion()" (cancelarCerrar)="cerrarModalArchivo()" />