<div *ngIf="visible" class="z-50 fixed inset-0 flex items-center justify-center bg-black bg-opacity-40">
  <div class="overflow-y-auto p-6 max-w-6xl w-full max-h-[90vh] bg-white shadow-lg rounded dark:bg-gray-900">
    <h2 class="mb-4 text-lg font-semibold text-gray-800 dark:text-white">
        Ordenes asociadas a {{ citasFiltradas[0].clave_cnis }}
    </h2>

    <table class="w-full text-sm text-left border-gray-300 border dark:border-gray-700 dark:text-white">
      <thead class="bg-gray-100 dark:bg-gray-800">
        <tr>
          <th class="px-2 py-1">Orden</th>
          <th class="px-2 py-1">Unidad</th>
          <th class="px-2 py-1">CLUES</th>
          <th class="px-2 py-1">Fecha Cita</th>
          <th class="px-2 py-1">Fecha Recepción</th>
          <th class="px-2 py-1">Emitidas</th>
          <th class="px-2 py-1">Recibidas</th>
          <!--<th class="px-2 py-1">Proveedor</th>-->
          <!-- Agrega más columnas si es necesario -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of ordenarPorUnidadYFecha(citasFiltradas)">
          <td class="px-2 py-1">{{ c.orden_de_suministro }}</td>
          <td class="px-2 py-1">{{ c.unidad }}</td>
          <td class="px-2 py-1">{{ c.clues_destino }}</td>
          <td class="px-2 py-1">{{ c.fecha_de_cita | date: 'dd/MM/yyyy' }}</td>
          <td class="px-2 py-1">{{ c.fecha_recepcion_almacen | date: 'dd/MM/yyyy' }}</td>
          <td class="px-2 py-1">{{ c.no_de_piezas_emitidas }}</td>
          <td class="px-2 py-1">{{ c.pzas_recibidas_por_la_entidad??0 }}</td>
          <!--<td class="px-2 py-1">{{ c.proveedor }}</td>-->
        </tr>
      </tbody>
    </table>

    <div class="flex justify-between mt-6">
      <button class="px-4 py-2 text-white bg-yellow-600 rounded hover:bg-yellow-700" (click)="exportar()">
        Exportar a Excel
      </button>
      <button class="px-4 py-2 text-white bg-gray-600 rounded hover:bg-gray-700" (click)="cerrar()">
        Regresar al detalle
      </button>
    </div>
  </div>
</div>
