<div class="overflow-x-auto border-gray-300 rounded border">
  <table class="min-w-full text-sm">
    <thead class="text-green-900 bg-green-100">
      <tr>
        <th class="px-4 py-2 text-left border">Servicio</th>
        <th class="px-4 py-2 text-left border">Estatus de Contratación</th>
        <th class="px-4 py-2 text-left border">Contrata</th>
        <th class="px-4 py-2 text-left border">Evaluación de Calidad</th>
      </tr>
    </thead>
    <tbody>
      @for (row of evaluacionesCapturadas; track row) {
        <tr >
          <td class="px-4 py-2 border">{{ row.nombre }}</td>
          <td class="px-4 py-2 border">
            <!-- Estatus -->
            <select [(ngModel)]="row.estatusContratacion" (ngModelChange)="guardarEnLocalStorage()"
              class="px-2 py-1 w-full border rounded">
              @for (e of estatusOpciones; track e) {
                <option [value]="e">{{ e }}</option>
              }
            </select>
          </td>
          <td class="px-4 py-2 border">
            <!-- Contrata -->
            <select [(ngModel)]="row.inicialesContrata" (ngModelChange)="guardarEnLocalStorage()"
              class="px-2 py-1 w-full border rounded" [disabled]="deshabilitarCampos(row)">
              <option value="">--</option>
              @for (c of contratantes; track c) {
                <option [value]="c">{{ c }}</option>
              }
            </select>
          </td>
          <td class="px-4 py-2 border">
            <!-- Evaluación -->
            <select [(ngModel)]="row.evaluacionCalidad" (ngModelChange)="guardarEnLocalStorage()"
              class="px-2 py-1 w-full border rounded" [disabled]="deshabilitarCampos(row)">
              <option value="">--</option>
              @for (ev of evaluaciones; track ev) {
                <option [value]="ev">{{ ev }}</option>
              }
            </select>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>